.teasers_holder { position:relative; overflow: hidden; margin: 1em 0; min-height: 550px; width: 100%}
.teasers_holder .teasers { position:relative; height: auto !important; }

.teasers_holder .teaser { width: 25%; padding-top: 1px; float: left; text-align: center; display: none; }
.teasers_holder .teaser .margins { margin: 1em 22px .4em; padding-bottom: 1px; }

.teasers_holder .arr { position: absolute; height: 100%;  z-index: 3; background: #fff; width: 19px; }
.teasers_holder .arr.larr { left: 0; padding-left: 5px;}
.teasers_holder .arr.rarr { right: 0; padding-right: 5px;}

.teasers_holder .larr a { display: block; height: 100%; width: 100%; background: url('btn-scroll-sprite.png') -46px 115px no-repeat; *background-image: url('btn-scroll-sprite_ie.png'); }
.teasers_holder .larr a:hover { background: url('btn-scroll-sprite.png') 0px 115px no-repeat; *background-image: url('btn-scroll-sprite_ie.png'); }
.teasers_holder .larr a.disabled { display: none; }

.teasers_holder .rarr a { display:block; height: 34px; width: 100%; background: url('btn-scroll-sprite.png') -63px 115px  no-repeat; height: 100%; *background-image: url('btn-scroll-sprite_ie.png'); }
.teasers_holder .rarr a:hover { background: url('btn-scroll-sprite.png') -17px 115px no-repeat; *background-image: url('btn-scroll-sprite_ie.png'); }
.teasers_holder .rarr a.disabled { display: none; }

.clear { clear: both; } 