/**/

.search-container {
	position: absolute;
	top:22px;
	left:67.5%;
	right:17.5%;
	/* padding-left:115px; */
	right:76px;
	
	z-index: 9999;
}

.search-field {
    position: absolute;
    display: block;
    /* overflow: hidden; */
	z-index: 9999;
    
    width: 72.5%;
    height: 25px;
    
    border-radius: 12.5px;
    background-color: #0e0e0e; 
    box-shadow: inset 0 -22px 1px -12px #2d3436;
}

.search-field * {
    margin: 0;
    padding: 0;
}

.search-field.focus{
    background-color: white; 
    box-shadow: none;
}

.search-field2, .search-ico, .search-reset, .search-spinner .search-back {
    position: absolute;
}

.search-field2{
    margin: 0;
    padding: 0;
    
    position: absolute;
    left: 27px;
    right: 27px;
    top:0;
    bottom: 0;
}

.search-field2 input{
    width: 100%;
    height: 25px;
    margin: 0;
    
    padding: 0;
    background: transparent;
    outline: none;
    border: none;
    white-space: nowrap;
    color: #ffffff;
    font: 14px sans-serif;
}

.search-field.focus .search-field2 input{
    color: #333333;
}

.search-ico {
    top: 4px;
    left: 5px;
    
    width: 16px;
    height: 16px;
    
    background-image: url('res/i_search.png');
    background-position: 0 0;
}

.search-field.focus .search-ico {
    background-position: 0 16px;
}

.search-reset{
    display: none;
    top: 7px;
    right: 7px;
    
    width: 11px;
    height: 11px;
    
    background-image: url('res/i_reset.gif');
}

.search-field .results {
	z-index:1000 !important;
}

.search-field .results,
.search-field .options,
.acResults {
	position: absolute;
	top: 100%;
	margin-top: 4px;
	border-spacing: 0;
	border-collapse: separate;
	*border: 1px solid #ebebeb;
	background: #fbfbfb;
	width:120%;
	left:-10%;
	
	-moz-border-radius: 6px 6px;
	-webkit-border-radius: 6px 6px;
	border-radius: 6px 6px;
	-webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
	-ms-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.search-field .results th {
  padding-right:6px !important;
}

.search-field .results td {
  padding-left:0 !important;
}

.search-field .results th,
.search-field .results th,
.search-field .results td,
.search-field .results td {
	font-family: Arial, sans-serif;
	font-size: 80%;
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	padding: 4px 12px 4px 6px;
	border-top: 1px solid #fbfbfb;
	border-bottom: 1px solid #fbfbfb;
}
.search-field .results th.img,
.search-field .results th.img {
	width: 47px;
	padding-left: 0;
	padding-right: 0;
	text-align: right;
}

.search-field .results th.img.mdash,
.search-field .results th.img.mdash {
	width: 47px;
	padding-left: 0;
	padding-right: 0;
	text-align: right;
}

/*
.search-field .results th.img img {
  position:absolute;
  left:7px;
  margin-top:-6px;
}
*/

.search-field .results td,
.search-field .results td {
/* 	border-left: 1px solid #ebebeb; */
}

.search-field .results tr.separator th,
.search-field .results tr.separator th,
.search-field .results tr.separator td,
.search-field .results tr.separator td {
	padding: 0;
	font-size: 3px;
	border-top: none;
	border-bottom: none;
}


/* .search-field .results tr.section-title th, */
.search-field .results tr.section-title td {
  border-top: #aaa 1px solid;
}

.search-field .results tr.section-title.noborder th,
.search-field .results tr.section-title.noborder td {
  border-top:none;
}

.search-field .results tr.section-title td,
.search-field .results tr.section-title td {
	font-size: 75%;
	padding: 6px 0 2px 6px;
	color: #000000;
	font-weight: bold;
}


.search-field .results tr.selected th,
.search-field .results tr.selected td {
	background: #225ff6;
	color: white;
	border-top-color: #5980ee;
	border-bottom-color: #0f54ec;

	background-image: -ms-linear-gradient(top, #5980ef 0%, #225ff6 100%);
	background-image: -moz-linear-gradient(top, #5980ef 0%, #225ff6 100%);
	background-image: -o-linear-gradient(top, #5980ef 0%, #225ff6 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #5980ef), color-stop(1, #225ff6));
	background-image: -webkit-linear-gradient(top, #5980ef 0%, #225ff6 100%);
	background-image: linear-gradient(top, #5980ef 0%, #225ff6 100%);
	
}

.search-field .results tr.selected td a,
.search-field .results tr.selected td a:hover {
	color: white;
}

.acResults {
	z-index:1000 !important;
}
.acResults ul {
        width: 100%;
        list-style-position: outside;
        list-style: none;
        padding: 0;
        margin: 0;
}
.acResults li {
        margin: 0px;
        padding: 2px 5px;
        cursor: pointer;
        display: block;
        width: 100%;
        font: menu;
        font-size: 12px;
        overflow: hidden;
}
.acLoading {
        background : url('indicator.gif') right center no-repeat;
}
.acSelect {
        background-color: Highlight;
        color: HighlightText;
}



