body{
    font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    color: #3a3a3a;
}
div{
    padding: 0;
    margin: 0;
    border: red 1px solid;
}

h1,h2,h3,h4,h5
{
    color: #454545;
    font-weight: 200;
    font-family: 'Segoe UI',Tahoma,Helvetica,Sans-Serif;
    margin: -0.1em 0 -0.3em;
}
h1{
    font-size: 40px;
    line-height: 50px;
    margin: 0.7em 0 0.3em;
}
h2{
    font-size: 36px;
    line-height: 44px;
}
h3{
    font-size: 28px;
    line-height: 36px;
}
h4{
    font-size: 20px;
    line-height: 24px;
}
h5
{
    font-size: 16px;
    line-height: 20px;
}
p{
    
}
a{
    text-decoration: underline;
}
a:hover{
    text-decoration: none;
    border-bottom: none;
}

strong{
    font-weight: normal;
    color: #000;
}
.page-width{
    max-width: 980px;
    margin:0;
    padding:0;
}
.gap{
    width:50px;
}

/*****************************/
/* STRIPS */
/*****************************/


.strip-gray5{
    height:5px;
    background-color: #3a3a3a;
    z-index: 999;
    position: relative

}
.strip-colored10{
    height:10px;
    background-color: #990099;
    z-index: 999;
    position: relative

}
.strip-gray12{
    height:12px;
    background-color: #3a3a3a;
    z-index: 999;
    position: relative

}
.strip-colored7{
    height:7px;
    background-color: #990099;
    z-index: 999;
    position: relative

}

/*****************************/
/* HEADER */
/*****************************/
.main-p{
    font-size:larger;
    padding: 10px 50px;
    width:80%;
}



.header{
    padding:0;
    margin: 0;
    background: #ededf0;

}
.logo{
    padding:20px 30px 0;
}
.top-menu{
    background: #2a2a2a;
}

.hor-ul{

}

.hor-ul li{
    margin: 0 0 0 -.93em;
    list-style-type: none;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    padding: 0;
    margin: 0;
}

.header a{
    color: #d1d1d1;
    text-decoration: none;
}
.hor-ul a:visited{
    color: #d1d1f1;
}
.hor-ul a:hover{
    color: #fff;

}
.menu-elem:hover{
    background: #4a4a4a;
}
.menu-elem{
    padding: 6px 10px;
    vertical-align: bottom;
}
.main-block{
    padding: 0 100px;
}

/*****************************/
/* main-page blocks */
/*****************************/

.main-first-block{
    position: static;
    margin: 0 auto;
    background: #fff;


}
.img-left{
    float:left;
    position: relative;
    z-index: 1;
    margin: 50px;
}
.img-right{
    float:right;
    position: relative;
    z-index: 1;
}
.top-block{
    max-width: 600px;
}
/*****************************/
/* social */
/*****************************/
.social{
    position: static;
    background: #42668c;
    text-align: center;
    padding: 10px;
    margin: 0;
}
.social-table{
    background: #d3d3d3;
    width: 100%;
    margin: 0 auto;
}
.social-table td{
    margin: 0;
    padding: 0;
}

.social-table a{
    text-decoration: none;
}
.social-icon{
    padding: 5px;
}
.social-icons{
    width: 100%;
}
.social .gap{
    width: 0;
}
.social-header{
    font-size: 20px;
    line-height: 24px;
    color: #333;
    padding: 0;
}
.share-block{
    text-align: center;
}



/*****************************/
/* footer */
/*****************************/
.footer, .footer li,.footer ul,.footer td{
    margin: 0;
    padding: 0;
}
.footer{
    background: #3a3a3a;
    color: #ccc;
    padding: 0 0 10px;
}
.footer-links td{
    /*border: #999 1px solid;*/
    width: 25%;
    vertical-align: top;
}
.footer h5{
    color: #fff;
    padding: 10px 0 10px;
    font-weight: bold;
    font-size: 14px;
}
.footer .phone{
    color: #ddd;
    font-size: 16px;
    line-height: 20px;
}
.footer a{
    color: #ccc;
    border-bottom: 1px solid;
    text-decoration: none;
    
}
.footer a:hover{
    color: #fff;
}
.footer .gap
{
    width: 50px;
    
}
.footer li{
    list-style-type: none;
}
